<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>信息主页</title>

    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

    <script>
        //页面打开时自动加载需要显示的内容
        $(document).ready(function () {
            showNewsContent('news-content-1',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/lost/lost/1');
            showNewsContent('news-content-2',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/index');
            showNewsContent('news-content-3',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/');
            if(document.getElementById("userName").innerText !== "用户"){
                loginBtn("hidden");
            }
        })

        let quit = angular.module('quit', []);
        quit.controller('quitCtrl', ['$scope', '$http',
            function ($scope, $http) {
                $scope.quit = function () {
                    $http({
                        method:'post',
                        url:'/user/logout'
                    }).then(
                        function success(res) {
                            loginBtn("show");
                        }
                    )
                }
            }
        ])

        angular.module('index.app', ['quit']);
    </script>
</head>

<body ng-app="index.app">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <!--Logo,跳转到首页-->
                <div class="col-md-4 navbar-header">
                    <!--页面导航，返回主页或者跳到失物招领页，首页即为当前页面-->
                    <ul class="nav navbar-nav">
                        <li><a href = "/"><img src = "/images/logo.png"></a></li>
                        <li class="active"><a href="/index">返回主页</a></li>
                        <li><a href="/lost">失物招领</a></li>
                    </ul>
                </div>
                <!--页面功能导航-->
                <div class="col-md-8">
                    <!--登录相关按钮-->
                    <ul class = "nav navbar-nav navbar-right" ng-controller="quitCtrl">
                        <li id = "loginBtn"><a href="/register/index/login"><span class = "fa fa-sign-in">&nbsp&nbsp登录</span></a></li>
                        <li id = "registerBtn" ><a href="/register/index/register"><span class = "fa fa-pencil">&nbsp&nbsp注册</span></a></li>
                        <li style = "display: none" id = "userBtn"><a><span id = "userName"><%= username%></span></a></li>
                        <li style = "display: none" id = "quitBtn" ng-click="quit()"><a><span class = "fa fa-sign-out">&nbsp&nbsp退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8">
            <!--日期、天气信息,给用户打个招呼-->
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-7 column">
                    <h4>18:42 星期五 3月23日 &nbsp;</h4>
                </div>
                <div id = "tags" class="col-md-5 column" style="text-align:right; display:none;">
                </div>
            </div>

            <div class="content card-frame" id="news-content-1" style="display: none">
            </div>
            &nbsp;
            <div class="content card-frame" id="news-content-2" style="display: none">
            </div>
            &nbsp;
            <div class="content card-frame" id="news-content-3" style="display: none">
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <ul class="pager">
                <li class="previous"><a href="">&larr; 上一页</a></li>
                <p id = "pageNum">1</p>
                <li class="next"><a href="">下一页 &rarr;</a></li>
            </ul>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
</body>
</html>