<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>信息主页</title>

    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

    <script>
        var curType;

        $(document).ready(function () {
            if(document.getElementById("userName").innerText !== "用户"){
                document.getElementById("searchUserBtn").click();
                document.getElementById("sayHello").style.visibility = "visible";
                loginBtn("hidden");
            }
            else{
                document.getElementById("searchAllBtn").click();
                document.getElementById("sayHello").style.visibility = "hidden";
                loginBtn("show");
            }
        })

        let date = angular.module('date', []);
        date.controller('dateCtrl', ['$scope', '$timeout', '$interval',
            function($scope, $timeout, $interval){
                $scope.now = new Date();
                let timer = $interval(function () {
                    $scope.now = new Date();
                }, 1000);
                $scope.stop = function(){
                    $interval.cancel(timer);
                }
            }]
        )

        let quit = angular.module('quit', []);
        quit.controller('quitCtrl', ['$scope', '$http',
            function ($scope, $http) {
                $scope.quit = function () {
                    $http({
                        method:'post',
                        url:'/user/logout'
                    }).then(
                        function success() {
                            window.location.href = '';
                        }
                    )
                }
            }
        ])

        let search = angular.module('search', []);
        search.controller('searchCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.searchAll = function () {
                curType = "all";
                $http({
                    method :'get',
                    url:'/news/1'
                }).then(
                    function success(res) {
                        showNews(res);
                    }
                )
            }
            $scope.searchUser = function () {
                curType = "user";
                $http({
                    method : 'post',
                    url:'/news/' + document.getElementById("userName").innerText + '/1'
                }).then(
                    function success(res) {
                        showNews(res);
                    }
                )
            }
            $scope.search = function () {
                if(document.getElementById("titleSearch").value === ""){
                    curType = "all";
                    $http({
                        method :'get',
                        url:'/news/1'
                    }).then(
                        function success(res) {
                            showNews(res);
                        }
                    )
                }
                else {
                    curType = "text";
                    $http({
                        method : 'post',
                        url : '/news/search/1',
                        data : {
                            searchText : document.getElementById("titleSearch").value
                        }
                    }).then(
                        function success(res) {
                            showNews(res);
                        }
                    )
                }
            }
        }])

        let turn = angular.module('turn', []);
        turn.controller('turnPageCtrl', ['$scope','$http',
            function ($scope, $http) {
                $scope.upPage = function () {
                    var curPage = document.getElementById("pageSearch").innerText;
                    curPage--;
                    if(curPage === 0){
                        alert("没有上一页了！");
                        return;
                    }
                    if(curType === "all"){
                        $http({
                            method :'get',
                            url:'/news/' + curPage
                        }).then(
                            function success(res) {
                                showNews(res);
                                document.getElementById("pageSearch").innerText--;
                            }
                        )
                    }
                    else if (curType === "user"){
                        $http({
                            method : 'post',
                            url:'/news/' + document.getElementById("userName").innerText + '/' + curPage
                        }).then(
                            function success(res) {
                                showNews(res);
                                document.getElementById("pageSearch").innerText--;
                            }
                        )
                    }
                    else if (curType === "text") {
                        $http({
                            method : 'post',
                            url : '/news/search/' + curPage,
                            data : {
                                searchText : document.getElementById("titleSearch").value
                            }
                        }).then(
                            function success(res) {
                                showNews(res);
                                document.getElementById("pageSearch").innerText--;
                            }
                        )
                    }
                }
                $scope.downPage = function () {
                    var curPage = document.getElementById("pageSearch").innerText;
                    curPage++;
                    if(curType === "all"){
                        $http({
                            method :'get',
                            url:'/news/' + curPage
                        }).then(
                            function success(res) {
                                if(res.data.news.length !== 0){
                                    showNews(res);
                                    document.getElementById("pageSearch").innerText++;
                                }
                                else{
                                    alert("没有下一页了！");
                                }
                            }
                        )
                    }
                    else if (curType === "user"){
                        $http({
                            method : 'post',
                            url:'/news/' + document.getElementById("userName").innerText + '/' + curPage
                        }).then(
                            function success(res) {
                                if(res.data.news.length !== 0){
                                    showNews(res);
                                    document.getElementById("pageSearch").innerText++;
                                }
                                else{
                                    alert("没有下一页了！");
                                }
                            }
                        )
                    }
                    else if (curType === "text") {
                        $http({
                            method : 'post',
                            url : '/news/search/' + curPage,
                            data : {
                                searchText : document.getElementById("titleSearch").value
                            }
                        }).then(
                            function success(res) {
                                if(res.data.news.length !== 0){
                                    showNews(res);
                                    document.getElementById("pageSearch").innerText++;
                                }
                                else{
                                    alert("没有下一页了！");
                                }
                            }
                        )
                    }
                }
            }
        ])

        angular.module('indexApp', ['quit', 'date', 'turn', 'search']);
    </script>
</head>

<body ng-app="indexApp" style="background-image: url(/images/background-2.jpg);">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="col-md-4 navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a onclick="window.location.href=''"><img src = "/images/logo.png"></a></li>
                        <li class="active"><a onclick="window.location.href=''">返回主页</a></li>
                        <li><a onclick="window.location.href='/lost'">失物招领</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class = "nav navbar-nav navbar-right" ng-controller="quitCtrl">
                        <li id = "loginBtn"><a onclick="window.location.href='/register/index/login'"><span class = "fa fa-sign-in">&nbsp&nbsp登录</span></a></li>
                        <li id = "registerBtn"><a onclick="window.location.href='/register/index/register'"><span class = "fa fa-pencil">&nbsp&nbsp注册</span></a></li>
                        <li id = "userBtn" style = "display: none"><a onclick="window.location.href='/user'"><span id = "userName"><%= username%></span></a></li>
                        <li id = "quitBtn" style = "display: none" ng-click="quit()"><a><span class = "fa fa-sign-out">&nbsp&nbsp退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8">
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-8 column" ng-controller="dateCtrl">
                    <h4 style="display:inline-block">{{now|date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                    <h4 id = "sayHello" style="display:inline-block">&nbsp&nbsp&nbsp&nbsp你好，<%= username%></h4>
                </div>

                <div class = "col-md-4 column" ng-controller="searchCtrl">
                    <div class = "input-group">
                        <input id = "titleSearch" type = "text" class = "form-control" title="搜索" value="">
                        <span class = "input-group-btn"><button id = "searchBtn" class = "btn btn-default" type = "button" ng-click="search()">搜索</button></span>
                        <button id = "searchAllBtn" style="display:none;" ng-click="searchAll()"></button>
                        <button id = "searchUserBtn" style="display:none;" ng-click="searchUser()"></button>
                    </div>
                </div>
            </div>

            <div>
                <div class="content card-frame" id="news-content-1" style="background-color: white">
                </div>
                &nbsp;
                <div class="content card-frame" id="news-content-2" style="background-color: white">
                </div>
                &nbsp;
                <div class="content card-frame" id="news-content-3" style="background-color: white">
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row clearfix">
        <div class="col-md-offset-3 col-md-9 column">
            <ul id = "newsPage" class="pager" ng-controller="turnPageCtrl" style="display: none">
                <div class = "col-md-3">
                    <li class="previous"><a id = "upPage" ng-click="upPage()">&larr; 上一页</a></li>
                </div>
                <div class = "col-md-2">
                    <li class = "pagination"><a id = "pageSearch">1</a></li>
                </div>
                <div class = "col-md-3">
                    <li class="next"><a id = "downPage" ng-click="downPage()">下一页 &rarr;</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>