<%- include register.ejs %>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>信息主页</title>

    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/access.js"></script>
    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>

    <script>
        //页面打开时自动加载需要显示的内容
        $(document).ready(function () {
            showNewsContent('news-content-1',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/lost');
            showNewsContent('news-content-2',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/lost');
            showNewsContent('news-content-3',
                'card-label-color-blue',
                '/images/0001.jpg',
                '【珞珈讲坛】萱萱院士谈现代宇宙学',
                '  03/01/2018',
                '这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。\n'+
                '                    这是一个默认的引用实例。这是一个默认的引用实例。',
                '/lost');
            let curLink = window.location.href;
            let urls = curLink.split("?");
            if(urls[0] !== curLink){
                let args = urls[1].split("&");
                let arg = args[0].split("=");
                if(arg[1] === "true"){
                    arg = args[1].split("=");
                    loginBtn("hidden");
                    showUserName(arg[1]);
                }
                else{
                    loginBtn("show");
                }
            }
            else{
                loginBtn("show");
            }
        })
    </script>
</head>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <!--Logo,跳转到首页-->
                <div class="col-md-4 navbar-header">
                    <a class = "navbar-brand fa fa-smile-o fa-lg" href="/">&nbsp iManager</a>
                    <!--页面导航，返回主页或者跳到失物招领页，首页即为当前页面-->
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">返回主页</a></li>
                        <li><a href="/lost">失物招领</a></li>
                    </ul>
                </div>
                <!--页面功能导航-->
                <div class="col-md-8">
                    <!--登录相关按钮-->
                    <ul class = "nav navbar-nav navbar-right">
                        <li id = "loginBtn" data-toggle="modal" data-target="#loginModal"><a><span class = "fa fa-sign-in">&nbsp&nbsp登录</span></a></li>
                        <li id = "registerBtn" data-toggle="modal" data-target="#registerModal"><a><span class = "fa fa-pencil">&nbsp&nbsp注册</span></a></li>
                        <li style = "display: none" id = "userBtn"><a><span id = "userName" class = "fa fa-user"></span></a></li>
                        <li style = "display: none" id = "quitBtn" ><a href = "/"><span class = "fa fa-sign-out">&nbsp&nbsp退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8">
            <!--日期、天气信息,给用户打个招呼-->
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-7 column">
                    <h4>18:42 星期五 3月23日 &nbsp;</h4>
                </div>
                <div id = "tags" class="col-md-5 column" style="text-align:right; display:none;">
                </div>
            </div>

            <div class="content card-frame" id="news-content-1" style="display: none">
            </div>
            &nbsp;
            <div class="content card-frame" id="news-content-2" style="display: none">
            </div>
            &nbsp;
            <div class="content card-frame" id="news-content-3" style="display: none">
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <ul class="pager">
                <li class="previous"><a href="">&larr; 上一页</a></li>
                <li class="next"><a href="">下一页 &rarr;</a></li>
            </ul>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>