<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>失物招领</title>

    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/upload.css">
    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        $(document).ready(function () {
            document.getElementById("searchAllBtn").click();
            if(document.getElementById("userName").innerText !== "用户"){
                document.getElementById("sayHello").style.visibility = "visible";
                loginBtn("hidden");
            }
            else{
                document.getElementById("sayHello").style.visibility = "hidden";
            }
        })

        $(function(){
            var image = document.getElementById("image");
            $(image).on("change",function () {
                var dataURL;
                var $file = $(this);
                var fileObj = $file[0];
                var windowURL = window.URL;
                var $img = $(document.getElementById("lostImg"));
                if (fileObj && fileObj.files && fileObj.files[0]) {
                    dataURL = windowURL.createObjectURL(fileObj.files[0]);
                    $img.attr('src', dataURL);
                }
            });
        });

        var publish = angular.module("publish", []);
        publish.controller("publishCtrl", ["$scope", "$http",
            function ($scope, $http) {
                $scope.publish = function () {
                    let s;

                    s = document.getElementById("type");
                    if (s.value === ""){
                        alert("请填写信息类别！");
                        s.focus();
                        return false;
                    }

                    s = document.getElementById("title");
                    if (s.value === ""){
                        alert("请填写信息标题！");
                        s.focus();
                        return false;
                    }

                    s = document.getElementById("time");
                    if (s.value === ""){
                        alert("请填写信息时间！");
                        s.focus();
                        return false;
                    }

                    s = document.getElementById("content");
                    if (s.value === ""){
                        alert("请填写信息简介！");
                        s.focus();
                        return false;
                    }

                    s = document.getElementById("image");
                    if (s.value === ""){
                        alert("请为信息配图！");
                        s.focus();
                        return false;
                    }

                    let imagePath = document.getElementById("image").value;
                    let filePath = imagePath.split("\\");
                    let fileName = filePath[filePath.length - 1];

                    $http({
                        method:'post',
                        url:'/posts/add',
                        data: {
                            newpost: {
                                title: document.getElementById("title").value,
                                content: document.getElementById("content").value,
                                type: document.getElementById("type").value,
                                postinfo:
                                    {
                                        date: document.getElementById("time").value,
                                        image:'/images/' + fileName
                                    }
                            }
                        }
                    }).then(
                        function success(res) {
                            if(res.data.addpost === "1"){
                                alert("发布成功");
                                let lostModal = document.getElementById("lostModal");
                                $(lostModal).modal("hide");
                            }
                            else {
                                alert("发布失败");
                            }
                        })
                }
        }])

        let search = angular.module("search", []);
        search.controller("searchCtrl", ["$scope", "$http",
            function ($scope, $http) {
                $scope.search = function () {
                    if(document.getElementById("titleSearch").value === ""){
                        alert("搜索内容不能为空");
                        return;
                    }
                    document.getElementById("pageSearch").innerText = "1";
                    $http({
                        method: 'post',
                        url: '/posts/search/' + document.getElementById("typeSearch").value + '/' + document.getElementById("pageSearch").innerText,
                        data: {
                            text: document.getElementById("titleSearch").value
                        }
                    }).then(
                        function success(res) {
                            showLost(res);
                        })
                }
                $scope.searchAll = function () {
                    $http({
                        method:'get',
                        url:'/posts/' + document.getElementById("typeSearch").value + '/' + document.getElementById("pageSearch").innerText
                    }).then(
                        function success(res) {
                            showLost(res);
                        }
                    )
                }
        }])


        let quit = angular.module('quit', []);
        quit.controller('quitCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.quit = function () {
                $http({
                    method:'post',
                    url:'/user/logout'
                }).then(
                    function success() {
                        loginBtn("show");
                        window.location.href = '';
                    }
                )
            }}
        ])

        let turn = angular.module('turn', []);
        turn.controller('turnPageCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.upPage = function () {
                var curPage = document.getElementById("pageSearch").innerText;
                curPage--;
                if(curPage === 0){
                    alert("已经是第一页");
                    return;
                }
                var searchText = document.getElementById("titleSearch").value;
                if(searchText === ''){
                    $http({
                        method : 'get',
                        url : '/posts/' + document.getElementById("typeSearch").value + '/' + curPage,
                    }).then(
                        function success(res) {
                            showLost(res);
                            document.getElementById("pageSearch").innerText--;
                        }
                    )
                }
                else{
                    $http({
                        method:'post',
                        url:'/posts/search/' + document.getElementById("typeSearch").value + '/' + curPage,
                        data: {
                            text: searchText
                        }
                    }).then(
                        function success(res) {
                            showLost(res);
                            document.getElementById("pageSearch").innerText--;
                        }
                    )
                }
            }
            $scope.downPage = function () {
                var curPage = document.getElementById("pageSearch").innerText;
                curPage++;
                var searchText = document.getElementById("titleSearch").value;
                if(searchText === ''){
                    $http({
                        method : 'get',
                        url : '/posts/' + document.getElementById("typeSearch").value + '/' + curPage,
                    }).then(
                        function success(res) {
                            showLost(res);
                            document.getElementById("pageSearch").innerText++;
                        }
                    )
                }
                else{
                    $http({
                        method:'post',
                        url:'/posts/search/' + document.getElementById("typeSearch").value + '/' + curPage,
                        data: {
                            text: searchText
                        }
                    }).then(
                        function success(res) {
                            showLost(res);
                            document.getElementById("pageSearch").innerText++;
                        }
                    )
                }
            }
        }
        ])

        let date = angular.module('date', []);
        date.controller('dateCtrl', ['$scope', '$timeout', '$interval',
            function($scope, $timeout, $interval){
                $scope.now = new Date();
                let timer = $interval(function () {
                    $scope.now = new Date();
                }, 1000);
                $scope.stop = function(){
                    $interval.cancel(timer);
                }
            }])

        angular.module('lostApp', ['publish', 'search', 'quit', 'turn', 'date']);
    </script>
</head>

<body ng-app ="lostApp">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="col-md-4 navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a onclick="window.location.href=''"><img src = "/images/logo.png"></a></li>
                        <li><a onclick="window.location.href='/index'">返回主页</a></li>
                        <li class="active"><a onclick="window.location.href=''">失物招领</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class = "col-md-5">
                        <button id = "publishBtn" type = "button" class = "btn btn-default navbar-btn navbar-middle" data-toggle = modal data-target = #lostModal>
                            <span class = "fa fa-edit">&nbsp发布</span>
                        </button>&nbsp&nbsp&nbsp
                        <button id = "listBtn" type = "button" class = "btn btn-default navbar-btn navbar-middle" onclick = "clicked('list', 'map')">
                            <span class = "fa fa-list-ul">&nbsp列表</span>
                        </button>&nbsp&nbsp&nbsp
                        <button id = "mapBtn" type = "button" class = "btn btn-default navbar-btn navbar-middle" onclick = "clicked('map', 'list')">
                            <span class = "fa fa-map-o">&nbsp地图</span>
                        </button>
                    </div>

                    <div  id = "lostModal" class = "modal fade" tabindex = "-1" role = "dialog" aria-labelledby = "lostModalLabel" aria-hidden = "true">
                        <div class = "modal-dialog">
                            <div class = "modal-content" ng-controller="publishCtrl">
                                <div class = "modal-header">
                                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                                    <h4 class = "modal-title">发布失物招领信息</h4>
                                </div>

                                <div class = "modal-body">
                                    <form id = "inputList" class="form-horizontal" role = "form">
                                        <div class = "form-group">
                                            <label for = "type" class = "col-md-3 control-label fa fa-sort-amount-asc">&nbsp&nbsp信息类别</label>
                                            <div class = "col-md-8">
                                                <select id = "type" class = "form-control">
                                                    <option value = "">请选择</option>
                                                    <option value = "lost">寻找失物</option>
                                                    <option value = "found">寻找失主</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class = "form-group">
                                            <label for = "title" class = "col-md-3 control-label fa fa-navicon">&nbsp&nbsp信息标题</label>
                                            <div class = "col-md-8">
                                                <input id = "title" type = "text" class = "form-control" placeholder="请输入信息标题">
                                            </div>
                                        </div>

                                        <div class = "form-group">
                                            <label for = "time" class = "col-md-3 control-label fa fa-at">&nbsp&nbsp丢失时间</label>
                                            <div class = "col-md-8">
                                                <input id = "time" type = "datetime-local" class = "form-control" placeholder = "请输入时间">
                                            </div>
                                        </div>

                                        <div class = "form-group">
                                            <label for = "content" class = "col-md-3 control-label fa fa-expand">&nbsp&nbsp详细信息</label>
                                            <div class = "col-md-8">
                                                <textarea id = "content" class = "form-control" placeholder = "请输入物品简介"></textarea>
                                            </div>
                                        </div>

                                        <div class = "form-group">
                                            <lable for = "image" class = "col-md-3 control-label fa fa-image">&nbsp&nbsp上传图片</lable>
                                            <div class = "col-md-8 input-icon-group">
                                                <a href="javascript:" class="a-upload">
                                                    <input  id="image" type="file" name="">
                                                    <img id = "lostImg" src="" alt="在此处选择图片" height="200" width="200">
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class = "modal-footer">
                                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">取消</button>
                                    <button type = "button" class = "btn btn-primary" ng-click= "publish()">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class = "nav navbar-nav navbar-right" ng-controller="quitCtrl">
                        <li id = "loginBtn"><a onclick="window.location.href='/register/lost/login'"><span class = "fa fa-sign-in">&nbsp&nbsp登录</span></a></li>
                        <li id = "registerBtn"><a onclick="window.location.href='/register/lost/register'"><span class = "fa fa-pencil">&nbsp&nbsp注册</span></a></li>
                        <li id = "userBtn" style = "display: none"><a onclick="window.location.href='/user'"><span id = "userName"><%= username%></span></a></li>
                        <li id = "quitBtn" style = "display: none" ng-click="quit()"><a><span class = "fa fa-sign-out">&nbsp&nbsp退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8">
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-6 column" ng-controller="dateCtrl">
                    <h4 style="display:inline-block">{{now|date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                    <h4 id = "sayHello" style="display:inline-block">&nbsp&nbsp&nbsp&nbsp你好，<%= username%></h4>
                </div>

                <div ng-controller="searchCtrl">
                    <div class = "col-md-3 column">
                        <select id = "typeSearch" class = "form-control" title="">
                            <option value = "lost">寻找失物</option>
                            <option value = "found">寻找失主</option>
                        </select>
                    </div>

                    <div class = "col-md-3 column">
                        <div class = "input-group">
                            <input id = "titleSearch" type = "text" class = "form-control" title="搜索" value="">
                            <span class = "input-group-btn"><button id = "searchBtn" class = "btn btn-default" type = "button" ng-click="search()">搜索</button></span>
                            <button id = "searchAllBtn" style="display:none;" ng-click="searchAll()"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content card-frame" id="lost-content-1">
            </div>
            &nbsp;
            <div class="content card-frame" id="lost-content-2">
            </div>
            &nbsp;
            <div class="content card-frame" id="lost-content-3">
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-3 col-md-9 column">
            <ul class="pager" ng-controller="turnPageCtrl">
                <div class = "col-md-3">
                <li class="previous"><a id = "upPage" ng-click="upPage()">&larr; 上一页</a></li>
                </div>
                <div class = "col-md-2">
                    <li class = "pagination"><a id = "pageSearch">1</a></li>
                </div>
                <div class = "col-md-3">
                <li class="next"><a id = "downPage" ng-click="downPage()">下一页 &rarr;</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>