<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>失物招领</title>

    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/upload.css">
    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        $(function(){
            $("#image").on("change",function () {
                var dataURL;
                var $file = $(this);
                var fileObj = $file[0];

                var windowURL = window.URL || window.webkitURL;
                var $img = $("img");

                if (fileObj && fileObj.files && fileObj.files[0]) {
                    dataURL = windowURL.createObjectURL(fileObj.files[0]);
                    $img.attr('src', dataURL);
                } else {
                    dataURL = $file.val();
                    var imgObj = document.getElementById("preview");
                    imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
                }
            });
        });

        //发布信息，并在发布之前检查发布信息时，提交的表单是否填写完全
        var publish = angular.module("publish", []);
        publish.controller("publishCtrl", ["$scope", "$http",
            function ($scope, $http) {
                $scope.publish = function () {
                    let s;

                    s = document.getElementById("type");
                    if (s.value === ""){
                        alert("请填写所有信息!");
                        s.focus();
                        return false;
                    }

                    s = document.getElementById("content");
                    if (s.value === ""){
                        alert("请填写所有信息!");
                        s.focus();
                        return false;
                    }

                    let inputList;
                    inputList = document.getElementById("inputList").getElementsByTagName("input");
                    for(let i = 0; i < inputList.length; i++){
                        if(inputList[i].value.length === 0){
                            alert("请填写所有信息!");
                            inputList[i].focus();
                            return false;
                        }
                    }

                    let imagePath = document.getElementById("image").value;
                    let filePath = imagePath.split("\\");
                    let fileName = filePath[filePath.length - 1];

                    $http({
                        method:'post',
                        url:'/posts/add',
                        data: {
                            newpost: {
                                title: document.getElementById("title").value,
                                content: document.getElementById("content").value,
                                type: document.getElementById("type").value,
                                postinfo:
                                    {
                                        date: document.getElementById("time").value,
                                        image:'/images/' + fileName
                                    }
                            }
                        }
                    }).then(
                        function success(res) {
                            if(res.data.addpost === "1"){
                                alert("发布成功");
                                $("#lostModal").modal("hide");
                            }
                            else {
                                alert("发布失败");
                            }
                        }
                    )
                }
            }])

        $(document).ready(function () {
            document.getElementById("searchBtn").click();
            if(document.getElementById("userName").innerText !== "用户"){
                loginBtn("hidden");
            }
        })

        let search = angular.module("search", []);
        search.controller("searchCtrl", ["$scope", "$http",
            function ($scope, $http) {
                $scope.search = function () {
                    $http({
                        method: 'post',
                        url: '/posts/search/' + document.getElementById("titleSearch").value + '/' + document.getElementById("pageNum").innerText,
                        data: {
                            text: document.getElementById("search").value
                        }
                    }).then(
                        function success(res) {
                            document.getElementById("lost-content-1").style.visibility = "hidden";
                            document.getElementById("lost-content-2").style.visibility = "hidden";
                            document.getElementById("lost-content-3").style.visibility = "hidden";
                            let resultArray = res.data.result;
                            let length = resultArray.length;
                            let curResult;
                            if(length !== 0) {
                                curResult = resultArray[0];
                                showLostContent("lost-content-1", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                                document.getElementById("lost-content-1").style.visibility = "visible";
                                length--;
                            }

                            if(length !== 0) {
                                curResult = resultArray[1];
                                showLostContent("lost-content-2", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                                document.getElementById("lost-content-2").style.visibility = "visible";
                                length--;
                            }

                            if(length !== 0) {
                                curResult = resultArray[2];
                                showLostContent("lost-content-3", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                                document.getElementById("lost-content-3").style.visibility = "visible";
                            }
                        },
                        function errorCallback(res) {
                        }
                    )
                }
            }
            ]
        )

        let quit = angular.module('quit', []);
        quit.controller('quitCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.quit = function () {
                $http({
                    method:'post',
                    url:'/user/logout'
                }).then(
                    function success(res) {
                        if(res.data.islogout === "1"){
                            loginBtn("show")
                        }
                    }
                )
            }}
        ])

        let turn = angular.module('turn', []);
        turn.controller('turnPageCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.upPage = function () {
                var curPage = document.getElementById("pageNum").innerText;
                curPage--;
                if(curPage === 0){
                    alert("已经是第一页！");
                    return;
                }
                $http({
                    method:'get',
                    url:'/posts/' + document.getElementById("typeSearch").value + '/' + curPage,
                }).then(
                    function success(res) {
                        let resultArray = res.data.result;
                        let length = resultArray.length;
                        document.getElementById("lost-content-1").style.visibility = "hidden";
                        document.getElementById("lost-content-2").style.visibility = "hidden";
                        document.getElementById("lost-content-3").style.visibility = "hidden";
                        let curResult;
                        if(length !== 0) {
                            curResult = resultArray[0];
                            showLostContent("lost-content-1", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-1").style.visibility = "visible";
                            length--;
                        }

                        if(length !== 0) {
                            curResult = resultArray[1];
                            showLostContent("lost-content-2", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-2").style.visibility = "visible";
                            length--;
                        }

                        if(length !== 0) {
                            curResult = resultArray[2];
                            showLostContent("lost-content-3", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-3").style.visibility = "visible";
                        }
                        document.getElementById("pageNum").innerText = curPage;
                    }
                )
            }
            $scope.downPage = function () {
                var curPage = document.getElementById("pageNum").innerText;
                curPage++;
                $http({
                    method:'get',
                    url:'/posts/' + document.getElementById("typeSearch").value + '/' + curPage,
                }).then(
                    function success(res) {
                        let resultArray = res.data.result;
                        let length = resultArray.length;
                        if(length === 0){
                            alert("已经到最后一页！");
                            return;
                        }
                        document.getElementById("lost-content-1").style.visibility = "hidden";
                        document.getElementById("lost-content-2").style.visibility = "hidden";
                        document.getElementById("lost-content-3").style.visibility = "hidden";
                        let curResult;
                        if(length !== 0) {
                            curResult = resultArray[0];
                            showLostContent("lost-content-1", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-1").style.visibility = "visible";
                            length--;
                        }

                        if(length !== 0) {
                            curResult = resultArray[1];
                            showLostContent("lost-content-2", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-2").style.visibility = "visible";
                            length--;
                        }

                        if(length !== 0) {
                            curResult = resultArray[2];
                            showLostContent("lost-content-3", "card-label-color-blue", curResult.postinfo.image, curResult.title, curResult.postinfo.date, curResult.content);
                            document.getElementById("lost-content-3").style.visibility = "visible";
                        }
                        document.getElementById("pageNum").innerText = curPage;
                    }
                )
            }
        }
        ])

        angular.module('lostApp', ['publish', 'search', 'quit', 'turn']);
    </script>
</head>

<body ng-app ="lostApp">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <!--Logo,跳转到首页-->
                <div class="col-md-4 navbar-header">
                    <!--页面导航，返回主页或者跳到失物招领页，首页即为当前页面-->
                    <ul class="nav navbar-nav">
                        <li><a href = "/"><img src = "/images/logo.png"></a></li>
                        <li><a href="/index">返回主页</a></li>
                        <li class="active"><a href="/lost">失物招领</a></li>
                    </ul>
                </div>
                <!--页面功能导航-->
                <div class="col-md-8">
                    <!--失物招领页面内导航，点击发布，跳出对应的模态框；点击列表，切换为列表视图；点击地图，切换为地图视图-->
                    <div class = "col-md-5">
                        <button id = "publish" type = "button" class = "btn btn-default navbar-btn navbar-middle" data-toggle = modal data-target = #lostModal>
                            <span class = "fa fa-edit">&nbsp发布</span>
                        </button>&nbsp&nbsp&nbsp
                        <button id = "list" type = "button" class = "btn btn-default navbar-btn navbar-middle active" onclick = "map2list('list', 'map')">
                            <span class = "fa fa-list-ul">&nbsp列表</span>
                        </button>&nbsp&nbsp&nbsp
                        <button id = "map" type = "button" class = "btn btn-default navbar-btn navbar-middle" onclick = "map2list('map', 'list')">
                            <span class = "fa fa-map-o">&nbsp地图</span>
                        </button>
                    </div>

                    <!--发布失物招领的模态框-->
                    <div class = "modal fade" id = "lostModal" tabindex = "-1" role = "dialog" aria-labelledby = "lostModalLabel" aria-hidden = "true">
                        <div class = "modal-dialog">
                            <div class = "modal-content" ng-controller="publishCtrl">
                                <!--模态框标题，提供模态框的关闭按钮-->
                                <div class = "modal-header">
                                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                                    <h4 class = "modal-title" id = "modalHeader">发布失物招领信息</h4>
                                </div>

                                <!--模态框内容,为一个表单-->
                                <div class = "modal-body">
                                    <form id = "inputList" class="form-horizontal" role = "form">
                                        <!--信息类别-->
                                        <div class = "form-group">
                                            <label for = "type" class = "col-md-3 control-label fa fa-sort-amount-asc">&nbsp&nbsp信息类别</label>
                                            <div class = "col-md-8">
                                                <select id = type class = "form-control">
                                                    <option value = "">请选择</option>
                                                    <option value = "lost">寻找失物</option>
                                                    <option value = "found">寻找失主</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!--物品类别-->
                                        <div class = "form-group">
                                            <label for = "title" class = "col-md-3 control-label fa fa-navicon">&nbsp&nbsp信息标题</label>
                                            <div class = "col-md-8">
                                                <input id = "title" type = "text" class = "form-control" placeholder="请输入信息标题">
                                            </div>
                                        </div>

                                        <!--丢失时间-->
                                        <div class = "form-group">
                                            <label for = "time" class = "col-md-3 control-label fa fa-at">&nbsp&nbsp丢失时间</label>
                                            <div class = "col-md-8">
                                                <input id = "time" type = "datetime-local" class = "form-control" placeholder = "请输入时间">
                                            </div>
                                        </div>

                                        <!--具体内容-->
                                        <div class = "form-group">
                                            <label for = "content" class = "col-md-3 control-label fa fa-expand">&nbsp&nbsp详细信息</label>
                                            <div class = "col-md-8">
                                                <textarea id = "content" class = "form-control" row = "3" placeholder = "请输入物品简介"></textarea>
                                            </div>
                                        </div>

                                        <!--上传图片-->
                                        <div class = "form-group">
                                            <lable for = "image" class = "col-md-3 control-label fa fa-image">&nbsp&nbsp上传图片</lable>
                                            <div class = "col-md-8 input-icon-group">
                                                <a href="javascript:" class="a-upload">
                                                    <input type="file" name="" id="image">
                                                    <img src="" alt="在此处选择图片" height="200" width="200">
                                                </a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class = "modal-footer">
                                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">取消</button>
                                    <button type = "button" class = "btn btn-primary" ng-click= "publish()">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--登录相关按钮-->
                    <ul class = "nav navbar-nav navbar-right" ng-controller="quitCtrl">
                        <li id = "loginBtn"><a href="/register/lost/login"><span class = "fa fa-sign-in">&nbsp&nbsp登录</span></a></li>
                        <li id = "registerBtn" ><a href="/register/lost/register"><span class = "fa fa-pencil">&nbsp&nbsp注册</span></a></li>
                        <li style = "display: none" id = "userBtn"><a><span id = "userName"><%= username%></span></a></li>
                        <li style = "display: none" id = "quitBtn" ng-click="quit()"><a><span class = "fa fa-sign-out">&nbsp&nbsp退出</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-offset-2 col-md-8" ng-controller="searchCtrl">
            <div class="row clearfix" style="margin-bottom: 15px;">
                <!--日期、天气信息,给用户打个招呼-->
                <div class="col-md-4 column">
                    <h4>18:42 星期五 3月23日 &nbsp;</h4>
                </div>

                <div class = "col-md-4 column">
                    <select id = titleSearch class = "form-control">
                        <option value = "lost">寻找失物</option>
                        <option value = "found">寻找失主</option>
                    </select>
                </div>

                <!--搜索栏，点击搜索，显示匹配的信息-->
                <div class = "col-md-4 column">
                    <div class = "input-group">
                        <input id = "search" type = "text" class = "form-control" title="搜索" value="校园卡">
                        <span class = "input-group-btn"><button id = "searchBtn" class = "btn btn-default" type = "button" ng-click="search()">搜索</button></span>
                    </div>
                </div>
            </div>

            <div class="content card-frame" id="lost-content-1">
            </div>
            &nbsp;
            <div class="content card-frame" id="lost-content-2">
            </div>
            &nbsp;
            <div class="content card-frame" id="lost-content-3">
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-8 column">
            <ul class="pager" ng-controller="turnPageCtrl">
                <div class = "col-md-3">
                <li class="previous"><a id = "upPage" ng-click="upPage()">&larr; 上一页</a></li>
                </div>
                <div class = "col-md-3">
                    <li class = "pagination"><a id = "pageNum">1</a></li>
                </div>
                <div class = "col-md-3">
                <li class="next"><a id = "downPage" ng-click="downPage()">下一页 &rarr;</a></li>
                </div>
            </ul>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
</div>
</body>
</html>