<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>个人中心</title>

    <script type="text/javascript" src="/js/displayEffect.js"></script>
    <script type="text/javascript" src="/js/dynamicLoading.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        var user;
        var username;
        $(document).ready(function () {
            username = document.getElementById("username").innerText;
            document.getElementById("sayHello").style.visibility = "visible";
            document.getElementById("showUser").click();
        })

        let date = angular.module('date', []);
        date.controller('dateCtrl', ['$scope', '$timeout', '$interval',
            function($scope, $timeout, $interval){
                $scope.now = new Date();
                let timer = $interval(function () {
                    $scope.now = new Date();
                }, 1000);
                $scope.stop = function(){
                    $interval.cancel(timer);
                }
            }]
        )

        let show = angular.module('show', []);
        show.controller('showCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.showUser = function () {
                $http({
                    method : 'get',
                    url : '/user/' + username
                }).then(
                    function success(res) {
                        user = res.data.user;
                        document.getElementById('userImage').src = user.userinfo.photo;
                    }
                )
            }
            $scope.showLost = function () {

            }
            $scope.showTag = function () {
                $http({
                    method : 'get',
                    url : '/usertags/' + username
                }).then(
                    function success(res) {

                    }
                )
            }
        }])

        let edit = angular.module('edit', []);
        edit.controller('editCtrl', ['$scope', '$http',
            function ($scope, $http) {
            $scope.editName = function () {
                var newName = document.getElementById('name');
                if(newName.value === ''){
                    alert('请输入新用户名');
                    newName.focus();
                }
                var curPassword = document.getElementById('curPassword');
                if(curPassword.value === ""){
                    alert('请输入密码');
                    curPassword.focus();
                }
                else{
                    $http({
                        method : 'put',
                        url : '/user/' + username,
                        data : {
                            password : curPassword.value,
                            content : {
                                name : newName.value
                            }
                        }
                    }).then(
                        function success() {
                            document.getElementById("username").innerText = newName.value;
                            newName.value = '';
                            curPassword.value = '';
                            window.location.href='/user';
                        }
                    )
                }
            }

            $scope.editTags = function () {
                var addTag = document.getElementById('tag');
                var curPassword = document.getElementById('curPassword');
                if(addTag.value === ''){
                    alert('请输入添加的标签');
                    addTag.focus();
                }
                if(curPassword.value === ""){
                    alert('请输入密码');
                    curPassword.focus();
                }
                else{
                    $http({
                        method : 'post',
                        url : '/usertags/' + username,
                        data : {
                            newtags : [addTag.value]
                        }
                    }).then(
                        function success() {
                            addTag.value = '';
                            curPassword.value = '';
                        }
                    )
                }
            }

            $scope.editPassword = function () {
                var newPassword = document.getElementById('newPassword');
                var curPassword = document.getElementById('curPassword');
                if(newPassword.value === ''){
                    alert("请输入新密码");
                    newPassword.focus();
                }
                if(curPassword.value === ""){
                    alert('请输入密码');
                    curPassword.focus();
                }
                else{
                    $http({
                        method : 'put',
                        url : '/user/' + username,
                        data : {
                            password : curPassword.value,
                            content : {
                                name : username,
                                password : newPassword.value
                            }
                        }
                    }).then(
                        function success() {
                            newPassword.value = '';
                            curPassword.value = '';
                        }
                    )
                }
            }
        }])

        angular.module('userApp', ['date', 'show', 'edit']);
    </script>
</head>

<body ng-app="userApp">
<p id = "username" style="display: none"><%= username%></p>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="col-md-4 navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a onclick="window.location.href=''"><img src = "/images/logo.png"></a></li>
                        <li><a onclick="window.location.href='/index'">返回主页</a></li>
                        <li><a onclick="window.location.href='/lost'">失物招领</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-8">
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-8 column" ng-controller="dateCtrl">
                    <h4 style="display:inline-block">{{now|date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                    <h4 id = "sayHello" style="display:inline-block">&nbsp&nbsp&nbsp&nbsp你好，<%= username%></h4>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <ul class = "nav nav-tabs" ng-controller="showCtrl">
            <li class = "active">
                <a id = 'showUser' href = "#info" data-toggle = 'tab' ng-click="showUser()">个人资料</a>
            </li>
            <li>
                <a id = 'showLost' href = "#lost" data-toggle = 'tab' ng-click="showLost()">失物信息</a>
            </li>
            <li>
                <a id = 'showTag' href = "#tags" data-toggle = 'tab' ng-click="showTag()">关注标签</a>
            </li>
        </ul>
        <div class = "tab-content" ng-controller="editCtrl">
            &nbsp
            <div class = "tab-pane fade in active" id = 'info'>
                <div class = 'col-md-4'>
                    <img id = 'userImage' class = 'card-img-top' width="100%" style="margin-bottom: 10px">
                    <button class = "btn btn-primary col-md-4 col-md-offset-4">上传头像</button>
                </div>
                <div class = 'col-md-8'>
                    <form class = 'form-horizontal' role = 'form'>
                        <div class = "form-group">
                            <label for = 'username' class = "col-md-2 control-label">用户名</label>
                            <div class = "col-md-4">
                                <input id = 'name' type = "text" class = "form-control" placeholder = <%=username%>>
                            </div>
                            <div class = 'col-md-2'>
                                <span class = "fa fa-eraser fa-2x fa-fw" ng-click="editName()"></span>
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for = 'password' class = "col-md-2 control-label">密码</label>
                            <div class = "col-md-4">
                                <input id = 'newPassword' type = "text" class = "form-control" placeholder = "请输入新密码">
                            </div>
                            <div class = 'col-md-2'>
                                <span class = "fa fa-eraser fa-2x fa-fw" ng-click="editPassword()"></span>
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for = 'tags' class = "col-md-2 control-label">关注标签</label>
                            <div class = "col-md-4">
                                <input id = 'tag' type = "text" class = "form-control" placeholder = "请添加关注的标签">
                            </div>
                            <div class = 'col-md-2'>
                                <span class = "fa fa-eraser fa-2x fa-fw" ng-click="editTags()"></span>
                            </div>
                        </div>
                        <div class = "form-group" style="margin-bottom: 50px">
                            <label for = 'password' class = "col-md-2 control-label">确认密码</label>
                            <div class = "col-md-4">
                                <input id = 'curPassword' type = "text" class = "form-control" placeholder = "修改前请输入密码，确认身份">
                            </div>
                        </div>
                        <div class = "col-md-8 col-md-offset-1">
                            <div class = 'col-md-4'>
                                <button class = "btn btn-primary">提交修改</button>
                            </div>
                            <div class = 'col-md-4'>
                                <button class = "btn btn-danger">注销用户</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class = "tab-pane fade" id = 'lost'>
                <div class="row clearfix">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="content card-frame" id="lost-content-1">
                        </div>
                        &nbsp;
                        <div class="content card-frame" id="lost-content-2">
                        </div>
                        &nbsp;
                        <div class="content card-frame" id="lost-content-3">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-offset-3 col-md-9 column">
                        <ul class="pager" ng-controller="turnPageCtrl">
                            <div class = "col-md-3">
                                <li class="previous"><a id = "upPage" ng-click="upPage()">&larr; 上一页</a></li>
                            </div>
                            <div class = "col-md-2">
                                <li class = "pagination"><a id = "pageSearch">1</a></li>
                            </div>
                            <div class = "col-md-3">
                                <li class="next"><a id = "downPage" ng-click="downPage()">下一页 &rarr;</a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "tab-pane fade" id = 'tags'>

            </div>
        </div>
    </div>
</div>


</body>
</html>