<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <title>Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <!--<span class="glyphicon glyphicon-leaf"></span>-->
                        iManager</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">主页</a>
                        </li>
                        <li>
                            <a href="#">失物招领</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!--<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp; 萱萱</a>-->
                            <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; 萱萱</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-8 column">
            <div class="temp-date">
                <h4>Hi,萱萱</h4>
            </div>
            <div class="row clearfix" style="margin-bottom: 15px;">
                <div class="col-md-7 column" style="text-align:left;">
                    <h4>18:42 星期五 3月23日 &nbsp; <span class="glyphicon glyphicon-tint"></span></h4>
                    <!--<i class="fa fa-thermometer-2 " aria-hidden="true"></i>-->
                </div>
                <div class="col-md-5 column" style="text-align:right;">
                    <button type="button" class="btn btn-danger">奖学金</button>
                    <button type="button" class="btn btn-warning">出国交流</button>
                    <button type="button" class="btn btn-info">名人讲座</button>
                </div>
            </div>


            <div class="content" id="content" style="border-radius:15px; border:1px solid rgb(167,167,167); padding: 20px;">

                <div  style="border-left: 10px solid #00B7FF;">
                    <!--test in another way-->
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <img src="/images/dept_cs.jpg" class="img-thumbnail" style="margin: 10px 20px;"/>
                        </div>
                        <div class="col-md-8 column">
                            <h5>【珞珈讲坛】萱萱院士谈现代宇宙学</h5>
                            <h6>&nbsp; 03/01/2018</h6>
                            <p style="font-size: 12px; color: gray; margin-left: 5px;">
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。<br>
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。</p>
                        </div>
                        <div class="col-md-1 column">
                            <br>
                            <br>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
                            </a>
                        </div>
                    </div>
                </div>

                <div  style="border-left: 10px solid #dd514c;">
                    <!--test in another way-->
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <img src="/images/dept_cs.jpg" class="img-thumbnail" style="margin: 10px 20px;"/>
                        </div>
                        <div class="col-md-8 column">
                            <h5>【珞珈讲坛】萱萱院士谈现代宇宙学</h5>
                            <h6>&nbsp; 03/01/2018</h6>
                            <p style="font-size: 12px; color: gray; margin-left: 5px;">
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。<br>
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。</p>
                        </div>
                        <div class="col-md-1 column">
                            <br>
                            <br>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
                            </a>
                        </div>
                    </div>
                </div>

                <div  style="border-left: 10px solid #f37b1d;">
                    <!--test in another way-->
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <img src="/images/dept_cs.jpg" class="img-thumbnail" style="margin: 10px 20px;"/>
                        </div>
                        <div class="col-md-8 column">
                            <h5>【珞珈讲坛】萱萱院士谈现代宇宙学</h5>
                            <h6>&nbsp; 03/01/2018</h6>
                            <p style="font-size: 12px; color: gray; margin-left: 5px;">
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。<br>
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。</p>
                        </div>
                        <div class="col-md-1 column">
                            <br>
                            <br>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
                            </a>
                        </div>
                    </div>
                </div>

                <div  style="border-left: 10px solid #00B7FF;">
                    <!--test in another way-->
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <img src="/images/dept_cs.jpg" class="img-thumbnail" style="margin: 10px 20px;"/>
                        </div>
                        <div class="col-md-8 column">
                            <h5>【珞珈讲坛】萱萱院士谈现代宇宙学</h5>
                            <h6>&nbsp; 03/01/2018</h6>
                            <p style="font-size: 12px; color: gray; margin-left: 5px;">
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。<br>
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。</p>
                        </div>
                        <div class="col-md-1 column">
                            <br>
                            <br>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
                            </a>
                        </div>
                    </div>
                </div>

                <div  style="border-left: 10px solid #f37b1d;">
                    <!--test in another way-->
                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <img src="/images/dept_cs.jpg" class="img-thumbnail" style="margin: 10px 20px;"/>
                        </div>
                        <div class="col-md-8 column">
                            <h5>【珞珈讲坛】萱萱院士谈现代宇宙学</h5>
                            <h6>&nbsp; 03/01/2018</h6>
                            <p style="font-size: 12px; color: gray; margin-left: 5px;">
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。<br>
                                这是一个默认的引用实例。这是一个默认的引用实例。
                                这是一个默认的引用实例。这是一个默认的引用实例。</p>
                        </div>
                        <div class="col-md-1 column">
                            <br>
                            <br>
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>-->
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-2 column">
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

